backend:
  name: git-gateway
  branch: main

media_folder: "assets/images/uploads"
public_folder: "/assets/images/uploads"

collections:
  - name: "test"
    label: "Test"
    folder: "src/content/test"
    create: true
    format: "json"
    fields:
      - { label: "Title", name: "title", widget: "string" }
